body {
  padding: 4em;
  background: #e5e5e5;
  font: 13px/1.4 Geneva, 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}
img {
	padding-right: 20px;
}

/* Dropdown Button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
nav ul {
	height: 4rem !important; 
}
/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #3e8e41;
}

/* The search field */
#user_search {
  box-sizing: border-box;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border-bottom: 1px solid #ddd;
}

/* The search field when it gets focus/clicked on */
#user_search:focus {outline: 3px solid #ddd;}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown3 {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  border: 1px solid #ddd;
  z-index: 1;
}
.dropdown-content3 {
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  border: 1px solid #ddd;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

#title_box {
	background-color: #e5e5e5;
}
.change_shift2{
  background-color: red;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: none !important;
}
input[type=submit] {
  background-color: red;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}
nav a {
	margin-right: 1px !important;
}

#top_menu {
	height: 100px;
}
#add_fesitvail {
	display: none;
}

#add_fesitvail{
	z-index: 5;
	height : auto;
	position: relative; 
    padding: 1em; 
    width: 675px; 
    border: 4px solid white;
	background-color: darkgray;
	border-radius: 20px;
	position: fixed;
	top: 25%;
	left: 32%;
	box-shadow: 5px 10px 20px 0px;
}
#shirt_list {
	display: none;
}
#shirt_list {
	z-index: 5;
	height : auto;
	position: relative; 
    padding: 1em; 
    width: 675px; 
    border: 4px solid white;
	background-color: darkgray;
	border-radius: 20px;
	position: fixed;
	top: 25%;
	left: 32%;
	box-shadow: 5px 10px 20px 0px;
}

#change_fesitvail_dialog{
	z-index: 5;
	height : auto;
	position: relative; 
    padding: 1em; 
    width: 675px; 
    border: 4px solid white;
	background-color: darkgray;
	border-radius: 20px;
	position: fixed;
	top: 25%;
	left: 32%;
	box-shadow: 5px 10px 20px 0px;
}

#change_shift {
	z-index: 5;
	height : auto;
	position: relative; 
    padding: 1em; 
    width: 675px; 
    border: 4px solid white;
	background-color: darkgray;
	border-radius: 20px;
	position: fixed;
	top: 25%;
	left: 32%;
	box-shadow: 5px 10px 20px 0px;	
}

#add_user_manual_man_location {
	z-index: 5;
	height : auto;
	position: relative; 
    padding: 1em; 
    width: 675px; 
    border: 4px solid white;
	background-color: darkgray;
	border-radius: 20px;
	position: fixed;
	top: 25%;
	left: 32%;
	box-shadow: 5px 10px 20px 0px;	
	display: none;
}

#add_shift {
	z-index: 5;
	height : auto;
	position: relative; 
    padding: 1em; 
    width: 675px; 
    border: 4px solid white;
	background-color: darkgray;
	border-radius: 20px;
	position: fixed;
	top: 25%;
	left: 32%;
	box-shadow: 5px 10px 20px 0px;
	display: none;
}

#add_shift_day {
	z-index: 5;
	height : auto;
	position: relative; 
    padding: 1em; 
    width: 675px; 
    border: 4px solid white;
	background-color: darkgray;
	border-radius: 20px;
	position: fixed;
	top: 25%;
	left: 32%;
	box-shadow: 5px 10px 20px 0px;
	display: none;
}

#add_user_manual_man {
	z-index: 5;
	height : auto;
	position: relative; 
    padding: 1em; 
    width: 675px; 
    border: 4px solid white;
	background-color: darkgray;
	border-radius: 20px;
	position: fixed;
	top: 25%;
	left: 32%;
	box-shadow: 5px 10px 20px 0px;
	display: none;
}

#change_shift_day {
	z-index: 5;
	height : auto;
	position: relative; 
    padding: 1em; 
    width: 675px; 
    border: 4px solid white;
	background-color: darkgray;
	border-radius: 20px;
	position: fixed;
	top: 25%;
	left: 32%;
	box-shadow: 5px 10px 20px 0px;
	display: none;	
}
#add_shift_external {
	z-index: 5;
	height : auto;
	position: relative; 
    padding: 1em; 
    width: 675px; 
    border: 4px solid white;
	background-color: darkgray;
	border-radius: 20px;
	position: fixed;
	top: 25%;
	left: 32%;
	box-shadow: 5px 10px 20px 0px;
	display: none;	
}
#change_shift_day_location {
	z-index: 5;
	height : auto;
	position: relative; 
    padding: 1em; 
    width: 675px; 
    border: 4px solid white;
	background-color: darkgray;
	border-radius: 20px;
	position: fixed;
	top: 25%;
	left: 32%;
	box-shadow: 5px 10px 20px 0px;
	display: none;	
}
#add_user_manual {
	z-index: 5;
	height : auto;
	position: relative; 
    padding: 1em; 
    width: 675px; 
    border: 4px solid white;
	background-color: darkgray;
	border-radius: 20px;
	position: fixed;
	top: 25%;
	left: 32%;
	box-shadow: 5px 10px 20px 0px;
	display: none;	
}

#top_user_space {
	height: 40px;
}
#control_add_user {
	height: 40px;
}
.nok_payout{
	display: flex;
}

input[type=text], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}
.change_shift2 {
	width: 100%;
	
}

input[type=number], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}
input[type=checkbox]{
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  transform: scale(1.5);
}

input[type=date]{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  margin-top: auto;
  margin-bottom: auto;
}
/* Style the container */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}
.row{
	height:70px;
}

.festi {
	width : 98%;
	border: 2px solid black;
	border-radius: 20px;
	margin-top: 10px;
	padding: 15px;
	display: table;
}

.festi2 {
	width : 100%;
	border: 2px solid black;
	border-radius: 20px;
	margin-top: 10px;
	padding: 15px;
	display: flex;
	width: 100%;
}

.shift_line {
	border: 2px solid black;
	margin-left: 10%;
	border-radius: 5px;
	margin-top: 5px;
	
}
.shift_title {
	display : flex;
}

#change_festi_name {
	font-size = 5px;
}

#change_fesitvail_dialog {
	display: none;
}

#add_shift_init {
	display: none;
}

.shift_title {
	padding: 4px;
} 

#change_shift {
	display: none;
}

.shift_day_line {
	display: flex;
	margin: 5px;
	background-color: darkturquoise;
	border-radius: 6px;
	padding: 3px;
}
.shift_day_line2 {
	display: flex;
	margin: 5px;
	background-color: darkturquoise;
	border-radius: 6px;
	padding: 3px;
}
.user_line {
	display: flex;
	margin: 5px;
	background-color: darkturquoise;
	border-radius: 6px;
	padding: 3px;
	height: 60px;
}
#user_data img{
	width: 30%;
	float: right;
}
#user_data2 img{
	width: 30%;
	float: right;
}
#user_data4 img{
	width: 30%;
	float: right;
}
nav li {
	margin-right: 1rem !important;
}
#user_select {
	display: none;
}
#user_info {
	display: none;
}
.dropdown2{
	position: relative;
}
.dropdown-content2{
  position: relative;
  background-color: #f6f6f6;
  min-width: 230px;
  border: 1px solid #ddd;
  z-index: 1;
}
.dropdown-content2 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

#messenger {
	display: none;
}

@media screen and (max-width: 70rem) {
	body {
	  padding: 1em;
	  background: #e5e5e5;
	  font: 13px/1.4 Geneva, 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
	  width: 95% !important;
	}
	#top_menu {
		height: 360px;
	}
	#add_festit_init {
		width:100%;
	}
	.festi2 {
		display:block;
		border-radius: 11px;
		padding: 4px;
	}
	.festi_status {
		width: 100% !important;
		margin-bottom : 3px;
	}
	.change_festival {
		width: 100% !important;
		margin: 1px !important;
		float: none !important;
	}
	.mail_festival {
		width: 100% !important;
		margin: 1px !important;
		float: none !important;
	}
	.delete_shift_day_location {
		width: 100% !important;
		margin: 1px !important;
		float: none !important;
	}
	.change_shift_day_location {
		width: 100% !important;
		margin: 1px !important;
		float: none !important;
	}
	.mail_external_location {
		width: 100% !important;
		margin: 1px !important;
		float: none !important;
	}
	.shift_title {
		display: block;
	}
	.shift_title p {
		width: 90% !important;
	}
	.festi_date {
		width: 90% !important;
		text-align: center;
	}
	.add_day_shift {
		float: none !important;
		width: 100% !important;
		margin: 2px !important;
	}
	.add_location_day_shift {
		float: none !important;
		width: 100% !important;
		margin: 2px !important;
	}
	.delete_shift {
		float: none !important;
		width: 100%;
		margin: 2px !important;
	}
	.payout_approved {
		float: none !important;
		width: 100%;
		margin: 2px !important;
	}
	.payout_denied {
		float: none !important;
		width: 100%;
		margin: 2px !important;
	}
	.add_user_to_location {
		float: none !important;
		width: 100%;
		margin: 2px !important;
	}
	.change_shift {
		float: none !important;
		width: 100%;
		margin: 2px !important;
	}
	.add_user_to_shift_day {
		float: none !important;
		width: 100%;
		margin: 2px !important;
	}
	.mail_user_manual {
		float: none !important;
		width: 100%;
		margin: 2px !important;
	}
	.unsubscribe_user_manual {
		float: none !important;
		width: 100%;
		margin: 2px !important;
	}
	.shift_day_line p{
		width: 95% !important;
	}
	.shift_day_line2 p{
		width: 95% !important;
	}
	.shift_day_line {
		display: block;
		box-shadow: 4px 7px 15px 0px;
	}
	.shift_day_line2 {
		display: block;
		box-shadow: 4px 7px 15px 0px;
	}
	.change_shift_day {
		float: none !important;
		width: 100%;
		margin: 2px !important
	}
	.delete_shift_day {
		float: none !important;
		width: 100%;
		margin: 2px !important;
	}
	#add_fesitvail {
		top: 0px;
		left: 0px;
		width: 98%;
		height: 100%;
		padding: 1px;
		position:fixed;
		top: 0%;
		left: 0%;
	}
	#shirt_list {
		top: 0px;
		left: 0px;
		width: 98%;
		height: 100%;
		padding: 1px;
		position:fixed;
		top: 0%;
		left: 0%;
	}
	#change_fesitvail_dialog {
		top: 0px;
		left: 0px;
		width: 98%;
		height: 100%;
		padding: 1px;
		position:fixed;
		top: 0%;
		left: 0%;
	}
	#change_shift {
		top: 0px;
		left: 0px;
		width: 98%;
		height: 100%;
		padding: 1px;
		position:fixed;
		top: 0%;
		left: 0%;
	}
	#change_shift_day_location {
		top: 0px;
		left: 0px;
		width: 98%;
		height: 100%;
		padding: 1px;
		position:fixed;
		top: 0%;
		left: 0%;
	}

	#add_user_manual_man_location {
		top: 0px;
		left: 0px;
		width: 98%;
		height: 100%;
		padding: 1px;
		position:fixed;
		top: 0%;
		left: 0%;
	}
	#add_user_manual_man {
		top: 0px;
		left: 0px;
		width: 98%;
		height: 100%;
		padding: 1px;
		position:fixed;
		top: 0%;
		left: 0%;		
	}
	#add_shift {
		top: 0px;
		left: 0px;
		width: 98%;
		height: 100%;
		padding: 1px;
		position:fixed;
		top: 0%;
		left: 0%;
	}
	#add_shift_day {
		top: 0px;
		left: 0px;
		width: 98%;
		height: 100%;
		padding: 1px;
		position:fixed;
		top: 0%;
		left: 0%;
	}
	#change_shift_day {
		top: 0px;
		left: 0px;
		width: 98%;
		height: 100%;
		padding: 1px;
		position:fixed;
		top: 0%;
		left: 0%;
	}
	#add_user_manual {
		top: 0px;
		left: 0px;
		width: 98%;
		height: 100%;
		padding: 1px;
		position:fixed;
		top: 0%;
		left: 0%;
	}
	#user_search {
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
	}
	#add_festit_init {
		z-index: 5;
	}
	nav ul {
		height : auto !important;
	}
	.shift_day_title {
		font-weight: bold;
		text-align: center;
	}
	.festi {
		width: auto !important;
		min-width: 95% !important;
	}
	.col-25 {
		width: 100%;
	}
	.col-75 {
		width: 100%;
	}
	nav a {
		margin: 0 !important;
	}
	.unsubscribe_user{
		float: none !important;
		width: 100%;
		margin: 2px !important;
	}
	.add_user_to_shift {
		float: none !important;
		width: 100%;
		margin: 2px !important;
	}
	.subscribe_user {
		float: none !important;
		width: 100%;
		margin: 2px !important;
	}
	.dropdown-content {
		position: relative !important;
	}
	.dropdown {
		display: block;
	}
	

	input[type=checkbox]{
	  margin-right: 10px;
	  margin-top: auto;
	  margin-bottom: auto;
	  transform: scale(2.5);
	  width: 35px;
	}

}
