html {
	background: url("/img/background.jpg");
	background-attachment: fixed;
	background-position: center;
}

#festival_list {
	height: 110%;
}

#top_menu {
	height: 30px;
}
.festi {
	width : 100%;
	border: 2px solid black;
	border-radius: 20px;
	margin-top: 10px;
	padding: 15px;
	display: table;
}

.festi2 {
	width : 100%;
	border: 2px solid black;
	border-radius: 20px;
	margin-top: 10px;
	padding: 15px;
	display: flex;
	width: 97%;
	background-color: blanchedalmond;
}
.festi2 p {
	margin-right: 15px;
}
.festi_date {
	font-size: 18px;
}
.festi3 {
	text-align: center;
		width : 100%;
	border: 2px solid black;
	border-radius: 20px;
	margin-top: 10px;
	padding: 15px;
	display: flex;
	width: 97%;
	background-color: blanchedalmond;
}
.festi3 span {
	position: relative;
	margin: auto;
	color: red;
}
@media screen and (max-width: 95rem) {
	#top_menu {
		height: 270px;
	}
	.festi3 {
		width: auto;
	}
	.festi2 {
		width: auto;
		display: block;
		width: 80%;
		margin: 0 auto;
	}
	.festi2 p {
		width: auto !important;
	}
	.festi_date {
		width: auto !important;
	}
}