html {
	background: url("/img/background.jpg");
	background-attachment: fixed;
	background-position: center;
}

#user_space {
	float: right;
	text-align: center;
	width: 90rem; 
}

#background {
	position: fixed;
	width: 92.5rem;
	height: 100%;
	background-color: transparent;
	opacity : 0.7;
	z-index: -5;
}

#main_wrapper {
	position: relative;
	width: 95%;
	margin-top: 30px;
	margin: 5 auto;
	padding-bottom: 150px;
}

#picture_placeholder{
	height : 350px;
	
}	

footer {

}

.info_block {

	margin-left: 10px;
	margin-top: 10px;
	border : solid 2px;
	border-radius: 5px;
	position: relative;
	background-color: #f1f1f1;
	height: auto;
}

.info_block p, h2 {
	padding: 10px;
}


@media screen and (max-width: 70rem) {
	#main_wrapper {
		position: relative;
		width: 95%;
		padding: 10px;
		margin-bottom: 150px;

	}
	
	#background {
		position: fixed;
		width: 94%;
		border-radius: 10px;
		background-color: gray;
		opacity : 0.7;
		z-index: -5;
	}
	
}