html {
	background: url("/img/background.jpg");
	background-attachment: fixed;
	background-position: center;
}

#info_space {
  margin-top: 30px;
  height: 150%;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.3s;
  border: 3px solid #e1e3e8;
}

.active, .accordion:hover {
  background-color: #9ec0f7;
}

.panel {
  padding: 0 18px;
  background-color: #e1e3e8;
  display: none;
  overflow: hidden;

}
h2 {
  text-align: center;
  text-shadow: 2px 2px blanchedalmond;
}