#info_space {
  margin-top: 110px;
}
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.3s;
  border: 3px solid #e1e3e8;
}

.active, .accordion:hover {
  background-color: #9ec0f7;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: #e1e3e8;
  display: none;
  overflow: hidden;

}
h2 {
  text-align: center;
}