body{
	
	max-width: 93rem;
	margin: auto;
	
}

#title_box {
	top:0;
	text-align: center;
	height: 4rem;
	width: 100rem;
	margin: 0 auto;
	text-decoration: none;
	text-align: center;
	z-index: 1;

}
#title_box h1{
	margin-bottom: 5px;
	color: red;
}

#title_box h1 {     
	text-align: center;
	color: red;

}

nav ul {
	top: 70px;
	text-align: center;
	height: 2rem;
	width: 90rem;
	margin: 0 auto;
	background-color: gray;
	text-decoration: none;
	text-align: center;
	border-radius: 7px 7px 7px 7px;
	z-index: 2;
}

nav li {
	display: inline-block;
	margin-right: 1rem;
	text-decoration: none;
	margin-top: 4px;
}

nav a {
	margin-left: 2rem;
	margin-right: 4rem;
	border: 1px;
	color : white;
	text-decoration: none;
	font-size: 20px;
}

nav a:hover {
	text-decoration:underline;
}

#bottom {
	position: fixed;
	top: 95%;
	text-align: center;
	height: 3.5rem;
	width: 92.4rem;
	margin: 0 auto;
	background-color: gray;
	text-decoration: none;
	text-align: center;
	border-radius: 15px 15px 2px 2px;
}

#spacer {
	position: fixed;
	top: 94%;
	text-align: center;
	height: 3.5rem;
	width: 95.4rem;
	margin: 0 auto;
}

#bottom p {
	margin-bottom: 5px;
	text-shadow: 1px 1px blanchedalmond;
}


@media screen and (max-width: 70rem) {
	html{
		height: auto;
	}
	
	#title_box {
		position: relative;
		height: 0rem;
		width: 95%;
		margin: 0 auto;
		text-decoration: none;
		text-align: none;	
	}
	
	nav ul {
		position: relative;
		top: 70px;
		text-align: center;
		height: 15rem;
		width: 90%;
		background-color: transparent;
		text-decoration: none;
		border-radius: 7px 7px 7px 7px;
		left : -20px;
	}
	nav a {
		font-size: 17.5px;

	}
	
	nav li {
		display: inline-block;
		margin-right: 2rem;
		text-decoration: none;
		margin-top: 4px;
		padding: 2px;
		background-color: royalblue;
		width: 90%;
		border-radius: 10px;
		margin-left: 0;
		margin-right: 0;
	}
	
	#bottom {
		position: relative;
		text-align: center;
		height: 3.5rem;
		width: 95%;
		margin: 0 auto;
		background-color: transparent;
		text-decoration: none;
		text-align: center;
		border-radius: 15px 15px 2px 2px;
	}
	
	#spacer {
		display: none;
	}
	
}